.spyproject/*
install.txt.save
experimentsrpatch/__pycache__/
.spyproject
experimentsrpatch/saved_models/
*.pyc
experimentsrpatch/downloads/
experimentsrpatch/temp_max_dim.txt
*.log
experimentsrpatch/*.png
tests/results
tests/test_outputs
experimentsrpatch/output_images/
experimentsrpatch/results/
*.trt
*.onnx
